.primary-bg{
    background-color:#673ab7;
}










@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family:cursive;
  color:rgb(0,0,0);
}

.chints{
	color:rgb(0,0,0);
}



.bg {
	
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM5tHcYhnXfOtLXDQpevPP1K-tWtkhFXyD4Q&usqp=CAU");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  
}